body {
    /* background-image: url("https://images-na.ssl-images-amazon.com/images/I/51rM4dvgyPL.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: auto; */

}
.NewUserP {
    text-align: center;
    margin-top: 20%;
}
.LandingPage {
    text-align: center;
    margin-top: 20%;
}
.LoginPage {
    text-align: center;
    margin-top: 20%;
}

